  @import  "tailwindcss";
.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    margin: 0px;}
  
    
/* shared styles  */
.display-flex{
    display: flex;
}
span{
    color: #E95A08
}



/* nav  section */
.nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
padding: 50px;
   
}
.nav-items {
        list-style: none;
     margin-top: 20px

}
.nav-link a{
    text-decoration: none;
        margin-right: 50px;
    
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main>section{
  margin-top: 100px;
     margin-left: 65px
}
.banner-left {
  
    align-items: center;
    margin-top: 100px;

  

}
.banner-description{
    max-width: 500px
}
.banner-title{
    line-height: 70px;
    font-size: 3.5rem;
    font-weight: 600;

}
    .banner-right{
        max-width:100%;

    }

    @media screen  and (max-width:576px){
        .banner{
            margin: 20px;
        }
        .banner-container{
            display: flex;
            flex-direction: column-reverse;
        }
        .banner-left{
            
            text-align: left;
            margin-top: 0px;
            width: 200px;
        }
        .banner-title{
    line-height:30px;
    font-size: 1.5rem;
    font-weight: 600;

}
  .banner-right{
        max-width:100%;
       
    }

.banner-description{
    width: 360px;
    font-size: 0.5rem
}
.link {
    display: none;
    font-size: 1.5rem;
    
    font-weight: bolder
}
.nav-logo{
    width: 67px;
    height: 40px;
}
.nav{
    display: flex;
    justify-content: space-between;
   

    
}

        
    }