  /* @import  "tailwindcss"; */
.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    margin: 0px;}
  
    
/* shared styles  */
.display-flex{
    display: flex;
}
span{
    color: #E95A08
}
.text-gray{
    color: rgb(180, 171, 171)
}
.text-black {
    color: black
}
.font-bold{
    font-weight: 600
}


/* nav  section */
.nav{
  max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
padding: 50px;
   
   
}
/* .nav-logo{
    margin-left: -100px;
} */
.nav-items {
        list-style: none;
     margin-top: 35px

}
.nav-link a{
    text-decoration: none;
        margin-right: 50px;
    
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main>section{
  margin-top: 100px;
     /* margin-left: 35px; */
}
.banner-left {
  
    align-items: center;
    margin-top: 60px;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center
}
.banner-description{
    max-width: 450px;
    margin-top: 20px;
    font-size: 1.3rem
}
.banner-title{
    line-height: 70px;
    font-size: 3.5rem;
    font-weight: bolder;

}
    .banner-right{
        max-width:100%;
    }

    /* our plants section */
    .plant-title{
        font-size: 2.5rem;
        font-weight: bolder;
        margin-bottom: 16px;
        
    }
    .plants-heading{
        max-width: 650px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px
    }
    .plants-container{
        display: grid;
        
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        margin-top: 50px;
    
    }

         .plant-card >button{
                width: 100%;
                height: 40px;
              
                background-color: #E95A08;
                border: none

             }
             .plant-card h4,.plant-card h3{
                margin-top: 30px;
                text-align: center;
                margin-bottom: 30px
             }
           



           @media screen and (max-width : 576px){
              .banner{
            margin: 20px;
        }
        .banner-container{
            display: flex;
            flex-direction: column-reverse;
        }
 .banner-left{
            text-align: left;
            margin-top: 0px;
            width: 500px;
            
            
        }
        .banner-title{
    line-height:30px;
    font-size: 1.5rem;
    font-weight: 600;

}
  .banner-right img{
        max-width:100%;
        margin-bottom: 20px;
       
    }

.banner-description{
    width: 300px;
    font-size: 0.8rem;
    
}
.link {
    display: none;
    font-size: 1.5rem;
    
    font-weight: bolder
}
.nav-logo img{
    width:67px;
    height: 40px;
}
.plants-heading{
    justify-items: center;
width: 300px;

}
.our-plants{
    margin-top: 65px;
}
   .plants-container{
     display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 100%;

    }
       .plant-title{
        font-size: 1.5rem;
        font-weight: bolder;
        
        
    }
    .plant-card{
        /* width: 171px;
        height: 340px;; */
        flex: 1
    }
    .plant-description{
        font-size: 0.8rem;
    }

        
}
      
    