
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-flower {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    margin: 0px;}
  
    
/* shared styles  */
.display-flex{
    display: flex;
}
span{
    color: #E95A08
}
.text-gray{
    color: rgba(0, 0, 0, 0.5)
}
.text-black {
    color: black
}
.font-bold{
    font-weight: 600
}


/* nav  section */
.nav{
  max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
padding: 50px;

   
   
}
.nav-logo{
    margin-left: -30px;
}
.nav-items {
        list-style: none;
     margin-top: 35px;
    

}
.nav-link a{
    text-decoration: none;
        margin-right: 50px;
    
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main>section{
  margin-top: 100px;
     /* margin-left: 35px; */
}
.banner-left {
  
    align-items: center;
    margin-top: 60px;
}
.banner-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center
}
.banner-description{
    max-width: 550px;
    margin-top: 20px;
    font-size: 1.3rem
}
.banner-title{
    line-height: 70px;
    font-size: 3.5rem;
    font-weight: bolder;

}
    .banner-right{
        max-width:100%;
    }

    /* our plants section */
    .plant-title{
        font-size: 2.5rem;
        font-weight: bolder;
        margin-bottom: 16px;
        
    }
    .plants-heading{
        max-width: 650px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px
    }
    .plants-container{
        display: grid;
        width: 1140px;
        height: auto;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        margin-top: 50px;
    
    }
     .plant-card img{
    
        width: 100%;
    }

         .plant-card >button{
                width: 100%;
                height: 40px;
                color: white;
              
                background-color: #E95A08;
                border: none

             }
             .plant-card h4,.plant-card h3{
                margin-top: 30px;
                text-align: center;
                margin-bottom: 30px
             }
             /* flower and plant lover  */

             .plants-lover{
                display: flex;
                flex: 1;
                justify-content: space-between;
                align-items: center;
                margin-top: 200px
                
                
             }
             .flower-store{
                max-width: 540px;
                height: 590px;
             }
             .flower-plant{
                max-width: 540px;
                height: 520px;
             position: relative;
            
             }
             .flower-plant h1,.join-section h1{
                       font-size: 3rem;
                font-weight: bolder;
                margin-bottom: 20px;

             }
            
             .flower-description{
                font-size: 1.5rem;
                max-width: 550px;
                
             }
              .flower-description li{
                margin-bottom: 20px;
                
              }
              .badge{
                max-width: 286px;
                height: 286px;
                position: absolute;
                margin-left: -240px;
              margin-top: -160px;
               
              }
              /* flower deals */
             
            .flower{
               
               
         display: flex;
         justify-content: space-around; 
         max-width: 1140px;
         height: 100%;
         margin: 0 auto;
         gap: 20px;
         position: relative;
            }
          
            .common{
                  text-align: center;align-items: center;
                   border-radius: 14px;
                

            }
            .deal{
                position: absolute;
                margin-top: 90px;
                margin-left: 90px;
                font-size: 1.25rem;
                color: white;




            }
            .deal a{
                color: white;
                font-size: 1rem
            }
            .deal-1{
                     position: absolute;
                margin-top: 180px;
                margin-left: 160px

            }
            .deal-1 a{
           
                color: white;
                font-size: 1.8rem
            }
            .box-1{
              background-image:linear-gradient(rgb(0, 0,0,0.3) ,rgb(0,0,0,0.5)),url(../assets/deal-ana.png);
            
            width: 365px;
                height: 198px;  
                margin-bottom: 20px;
              
             

            }
            .box-2{
                background-image:linear-gradient(rgb(0, 0,0,0.3) ,rgb(0,0,0,0.5)), url(../assets/deal-bloom.png);
                background-repeat: no-repeat;
                width: 365px;
                height: 200px;
                
              
             
            }
            .box-3{
                background-image:linear-gradient(rgb(0, 0,0,0.3) ,rgb(0,0,0,0.5)), url(../assets/deal-zabo.png);
                width: 740px;
                  font-size: 2.5rem;
                color: white
             
        

            }
            
         



              /* join section */
                        .join-section{
                    max-width: 1440px;
                height: 530px;
                         margin: 0 auto;
                margin-bottom: 120px;
                   margin-top: 130px;
                background-image: url(../assets/news-letter-bg.png) ;
                color: white;
                text-align: center;
                align-items: center;
                position: relative;
                
              }
              .join-bunch h1{
                font-size: 3.2rem;
                font-weight: bold;
                margin-left: 200px
              }

              .join-bunch{
                
               position: absolute;
               margin-top: 190px;
               margin-left: 220px;} 

              .input{
                width: 554px;
                height: 50px;
                margin: 0 auto;
                padding: 10px;
                border-radius: 0px;
                border: none;
            
            
        
               
                }

              .btn{
                width: 190px;
                height: 50px;
                background-color: #E95A08;
                color: white;
                border: none;
                position: absolute
          
                
             
              }
              /*  footer section */
             .footer{
                max-width: 1440px;
                height: 200px;    display: flex;
                justify-content: space-around;
                margin-left: 200px;
                margin-bottom: 50px;
               
             
              }
             
              .ft-head{
                width: 360px;
                height: 100px;
          
        
          
              }
              .ft-head p{
                font-size: 22px;
              }
              .ft-head img{
               
                margin-bottom:20px 
              }
              .ft-links{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                font-size: 20px;
                
              }
      .contact{
        display: flex;
        gap: 30px
      }
      .twitter{
        margin-top: 10px
      }
 @media screen and (max-width : 576px){
              .banner{
            margin: 20px;
        }
        .banner-container{
            display: flex;
            flex-direction: column-reverse;
        }
 .banner-left{
            text-align: left;
            margin-top: 0px;
            width: 500px;
            
            
            
        }
        .banner-title{
    line-height:30px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 100px

}
  .banner-right img{
        max-width:100%;
        margin-bottom: 20px;
       
    }

.banner-description{
    width: 300px;
    font-size: 0.8rem;
    margin-left: 100px;
    
}
.link {
    display: none;
    font-size: 1.5rem;
    
    font-weight: bolder
}
.nav-logo img{
    width:67px;
    height: 40px;
}
.plants-heading{
    justify-items: center;
width: 300px;

}
.our-plants{
    margin-top: 65px;
    max-width: 200;
}
   .plants-container{
     display: grid;
    grid-template-columns:repeat(2,1fr);
    max-width: 90%;
    margin:0 auto;


    }
       .plant-title{
        font-size: 1.5rem;
        font-weight: bolder;
        
        
    }

    .plant-description{
        font-size: 0.8rem;
    }
    .plants-lover{
        display: flex;
        flex-direction: column;
    }
    .flower-plant >.badge{
        display: none;
    }
    .flower-store{
        max-width: 900px;
        height: 390px;
    }
    .flower-plant{
        max-width: 361px;
        height: 234px;
    }
    
             .flower-plant h1{
                       font-size: 1.5rem;
                font-weight: bolder;
                margin-bottom: 15px;

             }
               
             .flower-description{
                font-size: 1rem;
                max-width: 360px;
                
             }
              .flower-description li{
                margin-bottom: 16px;
                
              }
              /* flower deals  */
         @media (max-width: 768px) {

.Latest-Deals{
    margin-top:200px;
}

  .flower {
    flex-direction: column;   
    align-items: center; 
        
  }
  

  .box-1,.box-2{
  width: 367px;             
    height: 200px;           
    margin-bottom: 20px;  
    font-size: 1.25rem  ;
 
  }
  
 
  .box-3 {
    width: 367px;             
    height: 200px;           
    font-size: 1.25rem   
  }


  .deal-1 {
    position: static;    
    margin: 20px 0;           
    text-align: center;
  }
}
.join-section{
    max-width: 550px;
    height: 300px;
 
}
  .join-bunch{
                 margin-top: 90px;
               margin-left:-70px;
          
      }  
        .join-bunch> h1{
                font-size: 1.3rem;
                
        
                    
              }
            .input{
                width: 200px;
                height: 50px;
             
                } 

              .btn{
                width:110px;
                height: 50px;
                
              } 

                 /*  footer section */
             .footer{
                max-width:390px;
                height: 880px;    display: flex;
                flex-direction: column;
            margin-top: 0px;
                margin-bottom: 50px;
                margin: 30px;
              }
              .ft-head img{
                margin-bottom:20px;
                height: 109px;
                width: 180px; 
              }
              .ft-links{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                font-size: 22px;
                margin-top: 100px;
                gap: 20px;
                
              }
      

 

}





      

    
    